{% extends 'layout.html' %}

{% block content %}

<h1>Consultas</h1>

<table class="table">
    <tr>
        <td>ID</td>
        <td>Data/Hora</td>
        <td>Médico</td>
        <td>Paciente</td>
        <td>Observação</td>
        <td>Deletar</td>
        <td>Atualizar</td>
    </tr>
    {% for consulta in vetConsulta %}
    <tr>
        <td>{{ consulta.id }}</td>
        <td>{{ consulta.data_hora }}</td>
        <td>{{ consulta.medico}}</td>
        <td>{{ consulta.paciente }}</td>
        <td>{{ consulta.observacao }}</td>
        <td><a class="btn btn-danger" href="/deletar_consulta/{{consulta.id}}">Deletar</a></td>
        <td><a class="btn btn-warning" href="/consulta_tela_editar/{{consulta.id}}">Atualizar Observação</a></td>
    </tr>
    {% endfor %}
    </tr>
</table>
<a class="btn btn-primary" href="/consulta_tela_adicionar">Adicionar Consulta</a>

<hr>

<h1>Pacientes</h1>

<table class="table">
    <tr>
        <td>cpf</td>
        <td>Nome</td>
        {% for paciente in vetPaciente %}
    <tr>
        <td>{{ paciente.cpf }}</td>
        <td>{{ paciente.nome }}</td>
    </tr>
    {% endfor %}
    </tr>
</table>


<a class="btn btn-primary" href="/paciente_tela_adicionar">Adicionar Paciente</a>

<hr>
<h1>Médicos</h1>

<table class="table">
    <tr>
        <td>ID</td>
        <td>CRM</td>
        <td>Nome</td>
        <td>Deletar</td>
        <td>Atualizar</td>

    </tr>
    {% for medico in vetMedico %}
    <tr>
        <td>{{ medico.id }}</td>
        <td>{{ medico.nome }}</td>
        <td>{{ medico.crm }}</td>
        <td><a class="btn btn-danger" href="/deletar_medico/{{medico.id}}">Deletar</a></td>
        <td><a class="btn btn-warning" href="/medico_tela_editar/{{medico.id}}">Atualizar</a></td>
    </tr>
    {% endfor %}
    </tr>
</table>
<a class="btn btn-primary" href="/medico_tela_adicionar">Adicionar Médico</a>

{% endblock %}